.contenedor {
    width: 80px;
    height: 100vh;
    background: #393939; 
    top: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.icono {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    transition: .3s ease;
    border-radius: 10px 10px;
    text-decoration: none;
}

.icono:hover {
    background: rgba(150, 150, 150, 0.35);
}

.logoPerfil {
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    padding: 10px;
    color: white;
    justify-content: center;
}
