.contenedor {
    width: 80px;
    position: absolute;
    height: 100vh;
    background: #393939; 
    top: 0;
    bottom: 0;
}

.logoPrincipal{
    padding-bottom: 100px;
}

.iconos {
    position: relative;
    list-style-type: none;
}

.icono {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    /* height: 40px; */
    transition: .3s ease;
    border-radius: 10px 10px;
    text-decoration: none;
}

.icono:hover {
    background: rgba(150, 150, 150, 0.35);
}

.logoNucleo2 {
    align-items: flex-end;
    padding-top: 250px;
    display: flex;
    align-items: center;
}
.imgPerfil {
    display: flex;
    align-items: center;
    height: 20px;
    width: 60px;
    height: 60px;
    color: white;
}
