@import url('https://rsms.me/inter/inter.css');



/*------------ Barra de navegacion -------------*/
.nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    list-style: none;
    background-color: #1f1f1f;
    padding-right: 50px;
}

.nav.a{
    text-decoration: none;
}

.NavBar{
    font-family: inter;
    font-style: normal;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}






/*------------ Menus -------------*/
.menuHor{
    position: absolute;
    left: 0px;
    top: 98%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
    background-color: #1f1f1f;
}

.menuVer{
    position: absolute;
    top: 98%;
    background-color: #1f1f1f;
}


.subMenu{
    left: 97%;
    top: 0px;
    
    background-color: #1f1f1f;
    overflow: scroll;
    max-height: 80vh;
}



/*------------ Estilo boton -------------*/
.btn{
    padding: 5px;
    font-family: inter;
    font-style: normal;
    font-size: 1.2vw;
    text-decoration: none;
    width: 10vw;
    transition: color 0.2s;
    color: white;
    text-align: initial;
}

.btnCenter{
    text-align: center;
}



/*------------ Hover verde -------------*/
.btn:hover > a, .btn:hover > button{
    color: #577534;
}



/*------------ Menu oculto-------------*/
.menu, .menu2, .menu3{
    display: none;
    list-style: none;
}



/*------------ Muestra menu hover -------------*/


.selected2:hover .menu2{
    display: block;
}

.selected3:hover .menu3{
    display: block;
}

.shadowOn{
    filter: drop-shadow(0px 52px 29px #000000);
}

.shadowOff{
    filter: none;
}



/*------------ Logos -------------*/
.logo{
    width: 342px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.perfil{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    margin-top: 10px;
}


.muestra{
    display: flex;
} 

.blurContainOn{
    opacity: 1;
    transition: opacity 0.3s ease, z-index 0.5s ease;
    z-index: 25;
}

.blurContainOff{
    opacity: 0;
    transition: opacity 0.3s ease, z-index 0.5s ease;
    z-index: -10;
}

.blurContain{
    position: fixed;
    height: 100%;

    width: 100%;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    background-color: rgba(55, 55, 55, 0.25);
   
    
}






/*
.blur {
    background: inherit;
    z-index: 100;
}
 
.blur:before {
    background: inherit;
}

.blur:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.blur:before {
    background-color:  rgba(31, 31, 31, 0.601);
    filter: blur(1px);
    z-index: -1;
}*/
