

/*--------- Body - Iconos -----------*/

.title{
    width: 100%;
    height: 20vh;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}


.title h1{
    color: white;
    font-size: 65px;

}

.sectionCard{
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 5%;
    overflow: hidden;
    background-color:#121212 ;
    gap: 3%;
}

/*--------- Iconos -----------*/


/*---------  Iconos 2 -----------*/

.card{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1F1F1F;
    border-radius: 35px;
    padding: 2%;
}

.imgIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleCard{
    font-family: inter;
    font-style: Bold;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
}

.text{
    font-family: inter;
    font-style: Bold;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
}
