.componentPost{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: #1C1C1C;
    color: white;
    padding: 1%;
    padding-left: 6%;
    padding-right: 6%;
    font-family: inter;
    height: 100%;
    margin: 0 auto;
    max-width: 1378px;
}

.H1{
    justify-content: flex-start;
    color: #87B847;
    font-weight: bold;
    font-size: 32px;
}

.H2{
    justify-content: flex-start;
    color: white;
    font-size: 22px;
}

.H3{
    justify-content: flex-start;
    color: white; 
    font-size: 18px;
}

.Ruta{
    padding: 60px;
    justify-content: flex-start;
    color: #87B847;
    padding-left: 1%;
    font-size: 26px;
}

.iframe{
    width: 50vw; 
    height: 480px;
}

.container{
    width: 100%;
    background-color: #1C1C1C;
}

.linea {
    border-top: 1.7px solid white;
    height: 2px;
    max-width: 1370px;
    width: 90vw;
    margin: 20px auto 0 auto;
  }